@import "node_modules/normalize.css/normalize";
@import "node_modules/include-media/dist/_include-media.scss";


/*  Apply a natural box layout model to all elements
   ========================================================================== */
*, *:before, *:after {
  box-sizing: border-box;
}

img {
    max-width: 100%;
}

strong {
    font-weight: 700;
}

button, input, optgroup, select, textarea {
    padding: 0;
    font-family: inherit;
}

svg {
    fill: currentColor;
}
